/* styles.css */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f0f0f0;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    font-size: 1rem;
    font-weight: 900;
    width: 100%;
}

.cart-container {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aquamarine;
    font-size: 1rem;
    font-weight: 900;
    width: 100%;
    /* max-width: 300px; */
}

.product-card {
    flex: 1 1 300px;
    max-width: 300px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 1em;
    margin-bottom: 20px;
}

.product-card img {
    height: 100px;
    width: 100px;
    transition: transform 0.3s ease;
}

.product-card img:hover {
    transform: scale(1.1);
}

.product-card button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #0056b3;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#cart-items li:last-child {
    border-bottom: none;
}

#cart-items .remove-from-cart {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cart-items .remove-from-cart:hover {
    background-color: darkred;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .product-card {
        flex: 1 1 45%;
        max-width: 45%;
    }

    .cart-container {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .product-card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .cart-container {
        width: 100%;
        max-width: 100%;
    }
}


   